In [33]:
import random
random.randrange(50), random.randrange(50,101), random.randrange(0,101,4)

(21, 53, 40)

In [2]:
random.randint(50,100)

74

In [37]:
weeks = ['星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日']
weeks

['星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日']

In [38]:
for ele in weeks:
    print(ele)

星期一
星期二
星期三
星期四
星期五
星期六
星期日

In [39]:
#建立dictionary
#取出dictionary
numbers = {'one':1, 'two':2, 'three':3}
numbers['one'], numbers['two'], numbers['three']

(1, 2, 3)

In [42]:
for key in numbers:
    print(f'key:{key}')
    print(f'value:{numbers[key]}')

key:one
value:1
key:two
value:2
key:three
value:3

In [45]:
type(numbers),type(weeks)

(dict, list)

In [50]:
list([1,2,3])
list(range(50,100,2))

[50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [51]:
list1=list()
list1

[]

In [59]:
#instance 的實體方法
list1.append("one")
list1

['two', 'one', 'one', 'one', 'one', 'one']

In [60]:
list1.insert(0,'two')
list1

['two', 'two', 'one', 'one', 'one', 'one', 'one']

In [62]:
list1.pop(0)
list1

['two', 'one', 'one', 'one', 'one']

In [ ]:
#建立空的dict
my_set={}
my_set

In [63]:
#建立空的set
my_set=set()
my_set

set()

In [65]:
nums_set={1,2,3,4,5,6,1,2,3,4,5,6}
nums_set

{1, 2, 3, 4, 5, 6}

In [67]:
len(nums_set),len(numbers),

(6, 3)

In [68]:
numbers

{'one': 1, 'two': 2, 'three': 3}

In [69]:
for a in numbers.keys():
    print(a)

one
two
three

In [70]:
for value in numbers.values():
    print(value)

1
2
3

In [71]:
for items in numbers.items():
    print(items)

('one', 1)
('two', 2)
('three', 3)

In [72]:
for key, value in numbers.items():
    print(key)
    print(value)
    print("=========")

one
1
=========
two
2
=========
three
3
=========